{% extends 'template.html.twig' %}

{% block title %}<title>Gestion des logins</title>{% endblock %}
{% block pageTitle %}
    <h2 class='text-center m-3 text-dark'>Gerer les horaires</h2>
{% endblock %}

{% block body %}

  <div class="container-fluid p-0 " >
    <div class="card mb-4 mt-5">
      <div class="card-header d-flex justify-content-between" >
        <div><img src={{asset('build/css/img/time.png') }} ></img><span  class='m-3 text-bold'>liste des horaires</span></div>
   
            <a type="btn" href="{{path('add_hour')}}" class="btn btn-primary  {% if( not app.user) %} disabled{% endif %}" >Ajouter</a>
  
    </div>
    <div class="card-body">
        <table id="datatablesSimple " class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">Id</th>
                    <th class="col-md-2">heure de départ</th>
                    {# <th class="col-md-3">entrée le</th> #}
                    <th class="col-md-3">heure d'arrivée</th>
                    {# <th class="col-md-4">num série</th> #} 
                </tr>
            </thead> 
            <tbody>
                {% for h in hours %}
                    <tr>
                        <th>{{h.id}}</th>
                        <td><a href="{{path("detail_hour",{id:h.id})}}">{{h.start_hour|date('H:i')}}</a></td>
                        {# <td>{{rf.owning_date}}</td> #}
                        <td><a href="{{path("detail_hour",{id:h.id})}}">{{h.end_hour|date('H:i')}}</a></td>
                        {# <td>{{rf.serial_number}}</td> #}
                        <td><a class="btn btn-outline-danger btn-sm m-3  {% if( not app.user) %} disabled{% endif %}" href="{{path('delete_hour',{id:h.id})}}" role="button">Supprimer</a></td>
                        <td><a class="btn btn-outline-warning btn-sm m-3  {% if( not app.user) %} disabled{% endif %}" href="{{path('update_hour',{id:h.id})}}" role="button">Modifier</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
